//VARS


$oscuro:  #193441 !default;
$azul:    #3E606F !default;
$celeste: #91AA9D !default;
$gris:    #D1DBBD !default;
$blanco:  #FCFFF5 !default;
$offsetShadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.300);
$centerShadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.300);
$textShadow: 3px 3px 3px #000000d3;
$border-radius: .75rem;

$theme-colors: (
    "dark":         $oscuro,
    "primary":      $azul,
    "info":         $celeste,
    "secondary":    $gris,
    "light":        $blanco
);

@import "bootstrap/bootstrap.scss";

/*RESET*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

            /* INICIO HEADER*/

.navbar-brand{
    width: 200px;
    height: auto;
    background-position: center;
    .navbar__logo{
        background-image: url(../img/logoFotografia.svg);
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
}

.encabezado{
    position: relative;
    .encabezado__frase{
        width: 100%;
        font-size: 5vw;
        color: $blanco;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: $textShadow;
        animation-name: fade-in;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: 1s;
        animation-delay: 0s;
    }
    .encabezado__imagen{
        width: 100%;
    }
}

            /*FINAL HEADER*/

            /*INICIO INDEX MAIN*/

.grilla{
    justify-content: center;
    display: grid;
    grid-template-areas:
    "eventos"
    "moda"
    "fotoproducto";
    grid-row-gap: 50px;
    .grilla__seccion{
        box-shadow: $offsetShadow;
        width: 80vw;
        border: 2px solid $gris;
        &:hover{
            transform: scale(1.05);
            transition: all 200ms;
        }
        .grilla__seccionTexto{
            h2{
                font-size: 10vw;
                color: $oscuro;
            }
            p{
                font-size: 5vw;
                color: $azul;
            }
        }
    }
    .grilla__eventos{
        grid-area: eventos;
    }
    .grilla__moda{
        grid-area: moda;
    }
    .grilla__fotoproducto{
        grid-area: fotoproducto;
    }
}

            /*FINAL INDEX MAIN*/

            /*INICIO PAGES MAIN*/

.pagesMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .staff{
        .staff__grupo{
            .staff__integrante{
                display: flex;
                flex-direction: column;
                margin: 30px;
                img{
                    border-radius: 100%;
                    box-shadow: $centerShadow;
                }
            }
            .staff__integranteNombre{
                color: $azul;
                font-weight: bold;
                font-size: 4vw;
                margin-top: 5px;
            }
        }            
    }
    .clientes{
        .carrouselClientes{
            background-color: $gris;
            height: 625px;
            overflow: hidden;
            box-shadow: $offsetShadow;
            .carrouselClientes__logo{
                padding-inline: 25px;
                height: 125px;
                animation-name: carrouselVertical;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 15s;
                animation-delay: 0s;

            }
        }
    }
    h3{
        font-size: 10vw;
        color: $oscuro;
    }
    p{
        font-size: 5vw;
        color: $azul;
    }
}

            /*FINAL PAGES MAIN*/

            /*INICIO GALERIA*/

.grillaGaleria{
    padding: 20px 40px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "foto1"
    "foto2"
    "foto3"
    "foto4"
    "foto5"
    "foto6"
    "foto7"
    "foto8"
    "foto9"
    "foto10"
    "foto11";
    .grillaGaleria__foto{
        width: 100%;
        margin: 20px 0;
        object-fit: cover;
    }
}

@for $i from 1 through 11 {
    .foto#{$i} {grid-area: foto#{$i};}
}
            /*FINAL GALERIA*/

            /*INICIO FOOTER*/

.pieDePagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $azul;
    color: $blanco;
    font-size: 4.5vw;
    i{
        color: $oscuro;
    }
    iframe{
        width: 75%;
    }
    a{
        color: $blanco;
        &:hover{
            color: $gris;
        }
    }
}

            /*FINAL FOOTER*/

            /*ANIMACIONES*/

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes carrouselVertical{
    0%{
    }
    100%{
        transform: translateY(-627%);
    }
}

@keyframes carrouselHorizontal{
    0%{
    }
    100%{
        transform: translateX(-920px);
    }
}

            /*MEDIA QUERIES*/

@media (min-width: 576px){
    .encabezado{
        .encabezado__frase{
            font-size: 3.5vw;
        }
    }
    .pagesMain{
        .clientes{
            width: 90%;
            .carrouselClientes{
                display: flex;
                align-items: center;
                height: 200px;
                .carrouselClientes__logo{
                    padding-inline: 0;
                    margin: 0 25px;
                    animation-name: carrouselHorizontal;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-duration: 15s;
                    animation-delay: 0s;
                }
            }
        }
        h3{
            font-size: 6vw;
        }
        p{
            font-size: 3vw;
        }
    }
    .pieDePagina{
        font-size: 3vw;
    }
}

@media (min-width: 576px) and (orientation: landscape){
    
            /*INICIO HEADER*/

    header{
        height: 100vh;
        .encabezado{
            height: 85%;
            .encabezado__imagen{
                object-fit: cover;
                height: 100%;
            }
        }
    }

            /*FINAL HEADER*/

            /*INICIO HEADER GALERIA*/

    .headerGaleria{
        height: initial;
    }

            /*FINAL HEADER GALERIA*/

            /*INICIO INDEX MAIN*/
    .grilla{
        grid-template-areas: 
        "eventos moda fotoproducto";
        grid-template-columns: 1fr 1fr 1fr;
        .grilla__seccion{
            width: 80%;
            justify-self: center;
            .grilla__seccionTexto{
                h2{
                    font-size: 3vw;
                }
                p{
                    font-size: 2vw;
                }
            }
        }
    }

            /*FINAL INDEX MAIN*/

            /*INICIO PAGES MAIN*/


    .pagesMain{
        h3{
            font-size: 5vw;
        }
        p{
            font-size: 2vw;
        }
    }

            /*FINAL PAGES MAIN*/

            /*INICIO FOOTER*/

    .pieDePagina{
        font-size: 2.5vw;
    }

            /*FINAL FOOTER*/

}

@media (min-width: 768px){
    .contenedorStaff{
        display: flex;
        flex-direction: column;
        .staff__grupo{
            display: flex;
            justify-content: space-around;
            .staff__integrante{
                .staff__integranteNombre{
                    font-size: 2vw;
                }
            }
        }
    }
    .clientes{
        .carrouselClientes{
            .carrouselClientes__logo{
                padding-inline: 0;
            }
        }
    }
}
            
@media (min-width: 1200px) and (orientation: landscape){
    
            /*INICIO PAGES MAIN*/

.pagesMain{
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    .contenedorStaff{
        width: 780px;
        height: 100%;
        justify-content: space-evenly;
        .staff{
            .staff__grupo{
                justify-content: center;
            }            
        }
    }
    .clientes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: initial;
        .carrouselClientes{
            flex-direction: column;
            height: 625px;
            overflow: hidden;
            .carrouselClientes__logo{
                height: 125px;
                animation-name: carrouselVertical;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 15s;
                animation-delay: 0s;

            }
        }
    }
    h3{
        font-size: 3vw;
    }
    p{
        padding-inline: 10%;
        font-size: 1vw;
    }
}

            /*FINAL PAGES MAIN*/

            /*INICIO GALERIA*/

    .grillaGaleria{
        align-items: initial;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
        "foto1 foto1 foto1 foto1 foto4 foto4 foto4 foto4 foto4 foto4 foto4 foto4"
        "foto1 foto1 foto1 foto1 foto4 foto4 foto4 foto4 foto4 foto4 foto4 foto4"
        "foto1 foto1 foto1 foto1 foto4 foto4 foto4 foto4 foto4 foto4 foto4 foto4"
        "foto1 foto1 foto1 foto1 foto6 foto6 foto6 foto7 foto7 foto9 foto9 foto9"
        "foto1 foto1 foto1 foto1 foto6 foto6 foto6 foto7 foto7 foto9 foto9 foto9"
        "foto1 foto1 foto1 foto1 foto6 foto6 foto6 foto7 foto7 foto2 foto2 foto2"
        "foto1 foto1 foto1 foto1 foto11 foto11 foto8 foto8 foto8 foto2 foto2 foto2"
        "foto1 foto1 foto1 foto1 foto11 foto11 foto8 foto8 foto8 foto2 foto2 foto2"
        "foto3 foto3 foto5 foto5 foto5 foto5 foto8 foto8 foto8 foto2 foto2 foto2"
        "foto3 foto3 foto5 foto5 foto5 foto5 foto10 foto10 foto10 foto2 foto2 foto2"
        "foto3 foto3 foto5 foto5 foto5 foto5 foto10 foto10 foto10 foto2 foto2 foto2"
        "foto3 foto3 foto5 foto5 foto5 foto5 foto10 foto10 foto10 foto2 foto2 foto2";
        justify-self: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        height: 100vh;
        padding: 75px;
        .grillaGaleria__foto{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 200ms;
            border-radius: 15px;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.301);
            }
        }
    }

            /*FINAL GALERIA*/

            /*INICIO FOOTER*/

.pieDePagina{
    flex-direction: row;
    justify-content: space-around;
    ul{
        flex-direction: column;
        font-size: 1.5vw;
        margin: 0;
    }
    iframe{
        width: 30%;
    }
}

            /*FINAL FOOTER*/
}

            /*MODAL GALERIA*/

.modal-dialog-galeria{
    max-width: 80vw;
}
